@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
 background-image: linear-gradient(to bottom,#8D99AE, #2B2D42);
 background-attachment: fixed;
}

main{
    height: 94vh;
    min-height: 550px;
    margin: 3vh 2vw;
    width: 96vw;
    padding: 3%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EDF2F4;
    box-shadow: 0 0 2px #1b1c2a;
}

header{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #8d99aec1;
    color:#1b1c2a;
    border-radius: 5px;
    box-shadow: 0 0 2px #8d99aec1;
}

section{
    font-size: 1.3em;
    /* border: 1px solid red; */
}

section#sectionResultado p{
    font-size: 1.5em;
}

input{
    border: 1px solid #1b1c2a;
    padding: 5px;
    margin-top: 3px;
    font-size: 0.9em;
    border-radius: 5px;
    box-shadow: 0 0 2px #1b1c2a;
}

select{
    border: 1px solid #1b1c2a;
    width: 23%;
    padding: 5px;
    margin-top: 3px;
    font-size: 0.9em;
    border-radius: 5px;
    box-shadow: 0 0 2px #1b1c2a;
}

button{
    border: 1px solid #1b1c2a;
    background-color: #8d99aec1;
    color: #1b1c2a;
    width: 50%;
    margin: 0 25%;
    min-height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 2px #1b1c2a;
}

button:hover{
    cursor: pointer;
    background-color: #8d99ae3a;
    font-weight: bold;
    box-shadow: 0 0 6px #1b1c2a;

}

input:focus, select:focus{
    outline: 0;
    border: 1px solid #1b1c2a;
    box-shadow: 0 0 6px #1b1c2a;
}

/*Responvidade >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Tela de smartphone pequenos */
@media (max-height: 600px), (max-width: 280px){
    main{
        min-height: 465px;
    }

    section{
        font-size: 1em;
    }

    h1{
        font-size: 1.6em;
    }
}

/* Tela de tablet */
@media (min-width: 600px){
    main{
        height: 88vh;
        width: 92vw;
        margin: 6vh 4vw;
    }

    section{
        font-size: 2em;
    }

    h1{
        font-size: 3.3em;
    }

    button{
        min-height: 60px;
        font-size: 0.8em;
    }
}

@media (min-width: 800px){
    main{
        height: 88vh;
        width: 92vw;
        margin: 6vh 4vw;
    }

    section{
        font-size: 2.3em;
    }

    h1{
        font-size: 3.3em;
    }

    button{
        min-height: 60px;
        font-size: 0.8em;
    }
}

/* Telas de pc e notbooks */
@media (min-width: 1024px){
    main{
        width: 70vw;
        margin: 5px 15vw;
        min-height: 95vh;
        padding: 1% 5%;
    }

    section{
        font-size: 1.4em;
    }

    h1{
        font-size: 2.5em;
    }

    button{
        font-size: 1em;
    }
}
